<div class="container ">

  <!-- show  full errer messages -->
  <% if @article.errors.any? %>
    <h2>The following errors prevented the article from being saved</h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>


  <div class="row justify-content-center">
    <!-- Form for submit title and description -->
    <%= form_with(model: @article, class: "shadow p-3 mb-3  rounded", local: true, data: {turbo: false })  do |f| %>

      <div class="mb-3 row">
        <%= f.label :title, class: "col-sm-2 col-form-label fw-bold" %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of Article" %>
        </div>
      </div>

      <div class="mb-3 row">
        <%= f.label :description, class: "col-sm-2 col-form-label fw-bold" %>
        <div class="col-sm-10">
          <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: " Description of Article" %>
        </div>
      </div>

      <div class="mb-3 row justify-content-center">
        <div class="col-8">
          <%= f.submit class: "btn btn-outline-success btn-lg " %>
        </div>
      </div>

      <div class="mb-3 row justify-content-center">
        <div class="col-8">
          <%= link_to 'Return 🔙 to Articles listing', articles_path, class: "btn btn-outline-primary btn-lg" %>
        </div>
      </div>

    </div>
    <% end %>

</div>
