<h1 class="text-center pt-4">Alpha Bloggers</h1>

<% if total_users = User.count > 3 %>
  <div class="pagination-container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header fst-italic">
            <%= link_to user.username, user, class: "text-decoration-none" %>
          </div>
          <div class="card-body">
            <h5 class="card-title "><%= link_to avatar_for(user, size:'200x200'), user %></h5>
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
              <%= link_to "View Profile", user, class: "btn btn-outline-success" %>
              <% if logged_in? %>
                <% if user == current_user %>
                  <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-outline-info" %>
                <% end %>
              
                <% if current_user.admin? %>
                  <%= link_to "Delete User", user_path(user), class: "btn btn-outline-danger", data: {turbo_method: :delete, "turbo-confirm": "Are you sure? You want to delete the User and all associated Articles ?"} %>
                <% end %>
              <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @users.size > 2 %>
  <div class="pagination-container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

